.yd-mobile-warp {
  background-color: #fff;
}

.yd-mobile-warp .common-menu-icon {
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: black;
  opacity: 0.4;
  left: 10%;
  bottom: 10%;
  z-index: 9999;
  text-align: center;
}

.yd-mobile-warp .common-menu-icon i {
  font-size: 25px;
  line-height: 100px;
  color: #fff;
}

.yd-mobile-warp .el-divider--horizontal {
  margin: 36px 0;
}

.yd-mobile-menu {
  height: 100%;
}

.yd-mobile-menu .menu-header {
  width: 100%;
  height: 100px;
  line-height: 60px;
  background-color: #333333;
  padding: 0 15px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.yd-mobile-menu .menu-header h3 {
  font-size: 15px;
  font-weight: 400;
}

.yd-mobile-menu .menu-header .menu-close {
  position: absolute;
  right: 15px;
  top: 2px;
  font-size: 14px;
}

.yd-mobile-menu .menu-content {
  display: flex;
  padding-top: 88px;
}

.yd-mobile-menu .menu-content .one-menu-left {
  width: 240px;
  background: #f3f5f7;
  border-right: 1px solid #F3F5F7;
}

.yd-mobile-menu .menu-content .one-menu-left .user-avatar {
  height: 97px;
  padding-top: 15px;
  border-bottom: 1px solid #f3f5f7;
  background-color: #fff;
  text-align: center;
}

.yd-mobile-menu .menu-content .one-menu-left .user-avatar h4 {
  margin-top: 6px;
  font-size: 11px;
  padding-bottom: 10px;
  color: #666;
}

.yd-mobile-menu .menu-content .one-menu-left .one-menu-ul li {
  padding-left: 10px;
  border-bottom: 1px solid #fff;
  border-left: 2px solid #F3F5F7;
  position: relative;
}

.yd-mobile-menu .menu-content .one-menu-left .one-menu-ul li .down-up {
  position: absolute;
  right: 6px;
  top: 16px;
  font-size: 12px;
}

.yd-mobile-menu .menu-content .one-menu-left .one-menu-ul li a {
  font-size: 14px;
  height: 88px;
  line-height: 88px;
  color: #333333;
  font-weight: 400;
}

.yd-mobile-menu .menu-content .one-menu-left .one-menu-ul li a i {
  font-size: 14px;
  color: #333333;
  font-weight: 550;
}

.yd-mobile-menu .menu-content .one-menu-left .one-menu-ul li.active {
  background-color: #fff;
  margin-right: -1px;
  border-left: 2px solid #333;
}

.yd-mobile-menu .menu-content .one-menu-left .one-menu-ul li.active .down-up {
  color: #333333;
}

.yd-mobile-menu .menu-content .two-menu-right {
  flex: 1;
  background-color: #fff;
  padding: 10px;
}

.yd-mobile-menu .menu-content .two-menu-right .menu-point {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  background-color: RGBA(255, 211, 158, 1);
  border-radius: 60%;
}

.yd-mobile-menu .menu-content .two-menu-right .menu-point .menu-porin-in {
  position: absolute;
  top: 3.5px;
  left: 3.5px;
  display: inline-block;
  line-height: 12px;
  width: 5px;
  height: 5px;
  background-color: #FF9314;
}

.yd-mobile-menu .menu-content .two-menu-right .two-menu-ul .yd-two-bar {
  line-height: 32px;
  display: block;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
}

.yd-mobile-menu .menu-content .two-menu-right .two-menu-ul .yd-two-bar .round {
  width: 8px;
  height: 8px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  margin-right: 6px;
  top: -1px;
  background-color: #B0C4FF;
}

.yd-mobile-menu .menu-content .two-menu-right .two-menu-ul .yd-two-bar .round::before {
  content: '';
  width: 4px;
  height: 4px;
  position: absolute;
  left: 2px;
  top: 2px;
  background-color: #3262EC;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

.yd-mobile-menu .menu-content .two-menu-right .two-menu-ul:first-child .yd-two-bar .round {
  background-color: rgba(176, 196, 255, 0.57);
}

.yd-mobile-menu .menu-content .two-menu-right .two-menu-ul:first-child .yd-two-bar .round:before {
  background-color: #3262ec;
}

.yd-mobile-menu .menu-content .two-menu-right .two-menu-ul:nth-child(2) .yd-two-bar .round {
  background-color: rgba(255, 147, 20, 0.41);
}

.yd-mobile-menu .menu-content .two-menu-right .two-menu-ul:nth-child(2) .yd-two-bar .round:before {
  background-color: #ff9314;
}

.yd-mobile-menu .menu-content .two-menu-right .two-menu-ul:nth-child(3) .yd-two-bar .round {
  background-color: rgba(228, 21, 90, 0.2);
}

.yd-mobile-menu .menu-content .two-menu-right .two-menu-ul:nth-child(3) .yd-two-bar .round:before {
  background-color: #e4155a;
}

.yd-mobile-menu .menu-content .two-menu-right .two-menu-ul:nth-child(4) .yd-two-bar .round {
  background-color: rgba(83, 139, 38, 0.2);
}

.yd-mobile-menu .menu-content .two-menu-right .two-menu-ul:nth-child(4) .yd-two-bar .round:before {
  background-color: #538b26;
}

.yd-mobile-menu .menu-content .two-menu-right .two-menu-ul .item-list {
  font-size: 12px;
  display: inline-block;
  padding: 0 16px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #f3f5f7;
  border-radius: 13px;
  margin-right: 10px;
}

.yd-mobile-menu .menu-content .two-menu-right .two-menu-ul .item-list:nth-child(2n) {
  margin-right: 0;
}

.yd-mobile-menu .menu-content .two-menu-right .two-menu-ul .item-list.bg-skin a {
  color: #fff;
}

.yd-mobile-menu .active {
  background-color: #3262EC;
  color: #fff;
}
